@* Test cases *@
<div class="col-sm-6">
    <div class="panel panel-default" ng-controller="testCaseController">
        <div class="panel-heading">
            <h4>Test cases</h4>
        </div>
        <div class="panel-body">
            <div class="list-group" ng-repeat="tc in testCases">
@*                <span ng-class="{'label label-success': tc.TestCaseStatus.Name == 'Pass'}">{{tc.TestCaseStatus.Name}}</span>*@
                <span ng-class="applyStatusLabel(tc)">{{tc.TestCaseStatus.Name}}</span>

                <div ng-click="getSteps(tc.Id)">
                    <p class="list-group-item">{{tc.Id}} {{tc.Name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>