<div>
    <div ng-controller="testCaseController">
        <h2>Test cases</h2>
        <ul ng-repeat="tc in testCases">
            <li ng-click="GetSteps(tc.Id)">{{tc.Id}} {{tc.Name}} {{tc.Description}}</li>
        </ul>
    </div>
</div>