.label {
    position: absolute;
    right: 7%;
    transform: translateY(-165%);
    z-index: 2;
    border: 1px solid white;
}

.test-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 70px;
}
.new-test-item {
    width: 100%;
}